{% extends "base.html" %}
{% block title %}dresser{% endblock %}
{% block content %}
<h1 class="mt-5">dresser</h1>

<p>ELFファイルから自動的にlibcのバージョンを判定し、シンボルを付加するかPDBを生成します。</p>
<form action="/dresser" method="POST" enctype="multipart/form-data">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashed">
        {% for msg in messages %}
        <li class="text-danger">{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="binary" name="binary">
        <label class="custom-file-label" for="binary">Stripped & statically linked ELF</label>
    </div>
    
    <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Address</span>
        </div>
        <input type="text" class="form-control" placeholder="i.e. 0x4127e0 / 0xc10" name="address">
    </div>
    <p class="text-muted text-right">※特定の関数だけを解決したい場合のみAddressに関数のアドレスを16進数で入力してください。</p>
    
    <div class="text-right">
        <button class="btn btn-primary mt-3" type="submit" name="symbol">
            <span class="spinner-border spinner-border-sm"></span>
            IDC
        </button>
        <button class="btn btn-primary mt-3" type="submit" name="binary">
            <span class="spinner-border spinner-border-sm"></span>
            ELF
        </button>
    </div>
    <p class="text-muted">
        IDC: 解決可能なすべてのシンボルをIDA上で設定するためのIDCスクリプトを生成する(Pwn, Rev用)<br>
        ELF: 解決可能なすべてのシンボルを付加したバイナリを生成する(Rev用)
    </p>
</form>

<script>
 $(".custom-file-input").on("change", function() {
     var fileName = $(this).val().split("\\").pop();
     $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
 });
</script>
{% endblock %}
