{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 class="mt-5">ptr-utils</h1>

<h2 class="mt-5"><a href="/libcdb">libc-db</a></h2>
<p>シンボルとオフセットの対応からlibcのバージョンを特定するツール。</p>

<h2 class="mt-5"><a href="/dresser">dresser</a></h2>
<p>stripされたstatic linkedバイナリのlibc関数に、対応するシンボルを生成するツール。</p>
{% endblock %}
