{% extends "base.html" %}
{% block title %}libcdb{% endblock %}
{% block content %}
<h1 class="mt-5">libcdb</h1>

<form action="/libcdb" method="GET">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashed">
        {% for msg in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div id="form-area" class="form-group">
        <div class="row justify-content-md-center unit">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Symbol</span>
                    </div>
                    <input type="text" class="form-control" placeholder="i.e. printf / _IO_2_1_stdin_" name="symbol">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Address</span>
                    </div>
                    <input type="text" class="form-control" placeholder="i.e. 0x7ffff7820e80 / 0x3eba00" name="address">
                </div>
            </div>
            <div class="col-md-auto">
                <span id="minus" class="btn btn-danger">-</span>
            </div>
        </div>
    </div>

    <div class="row align-items-start">
        <div class="col">
            <button class="btn btn-primary" type="submit">Find</button>
        </div>
        <div class="col-auto">
            <span id="plus" class="btn btn-success">+</span>
        </div>
    </div>
</form>

{% if libcList %}
<hr>
<h3>Result</h3>
<ul>
    {% for name in libcList %}
    <li><a href="/static/db/{{name}}.so">{{name}}</a></li>
    {% endfor %}
</ul>
{% endif %}

<script>
 $("#plus").on("click", function() {
     var cnt = $("#form-area .unit").length;
     var elm = $("#form-area .unit:last-child").clone(true);
     var inputList = elm[0].querySelectorAll('input[type="text"]');
     for(var i = 0; i < inputList.length; i++) {
         inputList[i].value = "";
     }
     $("#form-area .unit").parent().append(elm);
 });

 $("#minus").on("click", function() {
     var cnt = $("#form-area .unit").length;
     if (cnt > 1) {
         $(this).parents('.unit').remove();
     }
 });
</script>
{% endblock %}
